<div class="toolbar">
    <mat-toolbar>
        <div class="logo">-</div>
        <!-- '/landing' left setup -->
        <span class="example-fill-remaining-space"></span>
        <a href="landing#how-works">
                <button mat-button
                    class="register-button"
                    *ngIf="!isAuthenticated && !viewLoginRegisterLayer">
                    How Works
                </button>
            </a>
        <a href="landing#top">
            <button mat-button
                class="sign-in-button"
                *ngIf="!isAuthenticated && !viewLoginRegisterLayer"
                (click)="signUpView('login')">
                Sign Up
            </button>
        </a>
        <a href="landing#top">
            <button mat-button
                class="register-button"
                *ngIf="!isAuthenticated && !viewLoginRegisterLayer"
                (click)="signUpView('register')">
                Register
            </button>
        </a>
        <button *ngIf="!isAuthenticated && viewLoginRegisterLayer"
            mat-icon-button
            (click)="signUpViewClose()">
            <mat-icon>close</mat-icon>
        </button>
        <!-- '/dashboard' left setup -->
        <button *ngIf="isAuthenticated"
            mat-icon-button
            [matMenuTriggerFor]="toolbarUserMenu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
            <button mat-menu-item
                (click)="loginOut()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-divider *ngIf="!isAuthenticated && !viewLoginRegisterLayer"></mat-divider>
    <!-- NavBar for moving between sections  -->
   <app-sections-nav-bar *ngIf="isAuthenticated"></app-sections-nav-bar>
</div>
<!-- '/landing#top' hidden layer -->
<div id="top"
    *ngIf="!isAuthenticated && viewLoginRegisterLayer"
    class="sign-in-layout">
    <div class="sign-in-wrapper">
        <div [hidden]=!viewLogin>
            <app-login (registerClick)="toggleLoginRegister()"></app-login>
        </div>
        <div [hidden]=viewLogin>
            <app-register (loginClick)="toggleLoginRegister()"></app-register>
        </div>
    </div>
</div>