.toolbar {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1;
    flex: 0 0 auto;
    background-color: white;

}

.logo {
  background: url("../../assets/logo.svg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  width: 100px;
  height: 50px;
}

.mat-toolbar {
    background-color: white;
  }

.sign-in-button {
    line-height: 35px;
    border: 1px solid black;
  }
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .sign-in-layout {
    position: relative;
    display: block;
    height: 100%;
  }

  .sign-in-wrapper {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding-top: 10%;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

        
  