<mat-dialog-content>
  Are you sure?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="click('No')"> NO</button>
  <button mat-button (click)="click('Yes')">YES</button>
</mat-dialog-actions>