<div id="top" class="content">
	<div class="main-text-layer">
		<div>
		<div>
			Customised by you,for you.
		</div>
		<div>
			Start selling on any devices.
		</div>
		<div>
			<a href="">Create your App.</a>
		</div>
			</div> 
	</div>
	<div class="android-customized-section-image"></div>	
</div>
<div id="how-works" class="content">
<mat-divider></mat-divider>
<div class="row clearfix">
	<div class="android-customized-section_1">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="main-title">
				<div>
					Connect your shop by yourself.
				</div>
				<br/>
				<mat-grid-list cols="4">
					<mat-grid-tile class="woocommerce"
					 [style.border-right]="'1px dashed #ddd'">
					</mat-grid-tile>
					<mat-grid-tile class="presta"
					 [style.border-right]="'1px dashed #ddd'">
					</mat-grid-tile>
					<mat-grid-tile class="magento"
					 [style.border-right]="'1px dashed #ddd'">
					</mat-grid-tile>
					<mat-grid-tile class="joomla"
					 [style.border-right]="'1px dashed #ddd'">
					</mat-grid-tile>
				</mat-grid-list>
				<br/>
				<div>
					Try yoUr App in minutes.
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

			<div class="center-image">
				<div class="android-customized-section-image_ios">.
				</div>
			</div>
		</div>
	</div>
</div>
</div>
	<!-- </div> -->