
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "https://fonts.googleapis.com/css?family=Kanit:500,800";

html, body {
background-color: white;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

.content {
  flex: 1 0 auto;
  position: relative;
  display: block;
  height: 100%;
}

.main-title {
  font-family: Kanit, sans-serif;
  font-size: 30px !important;
  
}
.main-text-layer {
  font-size: 30px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-image {
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.android-customized-section {
  text-align: center;
}

.android-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.android-customized-section-text p {
  padding-top: 16px;
}

.android-customized-section-image {
  position: absolute;
  bottom: 0px;
  background: url('images/devices.jpg') center bottom no-repeat;
  background-size: cover;
  height: 40%;
  width: 100%;
}
.woocommerce {
  background: url('images/woocommerce.png') center top no-repeat;
  background-size: cover;
  background-color: white;
  /*height: 400px;*/
}
.presta {
  background: url('images/presta.jpg') center top no-repeat;
  background-size: cover;
}
.joomla {
  background: url('images/joomla.png') center top no-repeat;
  background-color: white;
  background-size: cover;
}
.magento {
  background: url('images/magento.png') center top no-repeat;
  background-color: white;
  background-size: cover;
}

.android-customized-section_1 {
  padding: 100px;
  background-color: white;
  height: 550px;
}
.android-customized-section_2 {
  background-color: whitesmoke;
  height: 400px;
}
.android-customized-section_3 {
  background-color: black;
  height: 50px;
}
   /*center top no-repeat;*/
.android-customized-section-image_ios {
  background: url('images/shop.png') center top no-repeat;
  background-size: contain;
  height: 500px; 
  width: 500px; 
}

a {
  text-decoration: inherit; /* no underline */
}

