<div>
    <h1>
        Login Form
    </h1>
    <form #lForm="ngForm"
        [formGroup]="loginForm"
        (ngSubmit)="submitLogin()">
        <div class="form-group">
            <div class="social-login">
                <button (click)="signInWithGoogle()"
                    type="button"
                    id="BUTTON_1">
                    Sign in with Google
                </button>
                <button (click)="signInWithFacebook()"
                    type="button"
                    id="BUTTON_2">
                    Sign in with Facebook
                </button>
                <p> OR </p>
            </div>
            <label for="name">Email</label>
            <input type="text"
                formControlName="email"
                placeholder="Email"
                class="form-control">
            <div class="alert alert-danger"
                *ngIf="loginForm.controls.email.dirty &&
               loginForm.controls.email.invalid && 
               loginForm.controls.email.value.length !== 0">
                Mail incorrecto.
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control"
                type="password"
                formControlName="password"
                placeholder="Password" />
            <div class="alert alert-danger"
                *ngIf="loginForm.controls.password.dirty &&
                  loginForm.controls.password.invalid
                  ">
                Local validation: Mínimo 4 caracteres
            </div>

        </div>
        <button class="btn btn-secondary"
            type="submit"
            [disabled]="loginForm.invalid">
            Sign In
        </button>

        <button class="btn btn-secondary"
            type="button"
            (click)="goRegister($event)">
            Register
        </button>

        <div class="alert alert-danger"
            *ngIf="error !== null">
            {{ error.message }}
        </div>
    </form>


</div>