.social-login p{
    text-align: center;
}

#BUTTON_1 { 
    width: 100%;
    height: 50px;
     border-radius: 8px 8px 8px 8px;
     transition: all 0.5s ease 0s;
   background-position: 16px 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
    min-height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
   
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117.75px 32px;
    transform-origin: 117.75px 32px;
    caret-color: rgb(255, 255, 255);
    background: rgb(211, 7, 7) url("") no-repeat scroll 16px 50% / 32px 
    padding-box border-box;
    border: 0px none rgb(255, 255, 255);
   
    font: normal normal 400 normal 16px / 16px system-ui;
    margin-bottom: 15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 32px 0px 64px;
    transition: all 0.5s ease 0s;
}/*#BUTTON_1*/

#BUTTON_2 {
    background-position: 16px 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 50px;
    min-height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 127.031px 32px;
    transform-origin: 127.031px 32px;
    caret-color: rgb(255, 255, 255);
    background: rgb(45, 67, 115) url("") no-repeat scroll 16px 50% / 32px padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    font: normal normal 400 normal 16px / 16px system-ui;
    margin-bottom: 15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 32px 0px 64px;
    transition: all 0.5s ease 0s;
}/*#BUTTON_1*/


