<mat-sidenav-container fullscreen>
        <div class="wrapper" [ngStyle]="{'overflow-y':overflowy}">
            <app-header></app-header>
                    <router-outlet></router-outlet>    
            <app-footer></app-footer>
        </div>
    </mat-sidenav-container>
       