mat-sidenav-container {
    height: 100%;
    width: 100%;
    background-color: white;
}  

.wrapper {
    z-index: -2;
    height: 100%;
    display: block;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    /*background-color: rgb(190, 47, 47);*/
}

.content {
    flex: 1 0 auto;
    position: relative;
    display: block;
    height: 100%;
    width:100%;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
    transition: all .2s ease-in-out;
}