<nav mat-tab-nav-bar >
  <a mat-tab-link
     class="d-none d-md-inline-flex"
     *ngFor="let section of sections"
     [routerLink]="section.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{section.label}}
  </a>
</nav>
