 /*nav {
    margin-bottom: 20px
}*/
.mat-tab-link {
    min-width: 130px;
    height: 24px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }



/*.nav-responsive {
    padding: 0 0 24px 0;
}

a nav {
    width: 100%;
    display: inline-block;
    padding-top: 14px;
}
  
mat-icon {
    float: left;
    position: relative;
    top: -1px;
}*/