<div class="main-content">
    <div class="row center-content">
        <div class="col-sm-6  px-0">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar
                        class="header-image-user-info"></div>
                    <mat-card-title>{{ user?.name }}</mat-card-title>
                    <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button (click) = "editUserInfo()" mat-button>Edit User Info...</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-6  px-0">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Notifications
                    </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div> There is no recent notifications.</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Create one...</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm-12  px-0 digital-business-card">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Digital Business
                    </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="no-info">
                    <div class="aling-center">No business, No happy </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button
                        >Create eCommerce App</button>
                    <button mat-raised-button
                        >Create Blog App</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>