
  .main-content{
      flex: 1 0 auto;
      position: relative;
      display: block;
      background-color: gainsboro;
      padding-top: 20px;
      height: 100%;
      margin-top: 88px;
  }

  .center-content {
    width:80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .px-0 {
    padding-right: 6px !important;
    padding-left: 0 !important;
    padding-bottom: 6px;
  }

  .final-content {
    background-color: black
  }

  .border {
    border: 1px black solid;
  }
  
  .header-image-user-info {
    background-image: url('http://svgur.com/i/65U.svg');
    background-size: cover;
  }

  mat-card {
    height: 100%;
}

  mat-card-title {
    font-size: 16px !important;
  }

  mat-card-content {
    padding: 15px;
  }

  mat-card-actions {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  }

  .buttom-add {
    margin-left:auto;
    margin-right: 12px;
    font-size: 18px;
    font-style: italic
  }

  .digital-business-card{
    height: 60%;
  }