<div>

    <h2>Register Form</h2>
    <form (ngSubmit)="onSubmit()"
        #registerForm="ngForm"
        >
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                type="text"
                #name="ngModel"
                name="name"
                [(ngModel)]="model.name"
                placeholder="Name"
                required>
            <div class="alert alert-danger"
                *ngIf="name.dirty && name.value.length === 0">
                Nombre requerido
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control"
                type="text"
                #email="ngModel"
                name="email"
                [(ngModel)]="model.email"
                placeholder="Email"
                required
                pattern="[^ @]*@[^ @]*"
                minlength="3">
            <div class="alert alert-danger"
                *ngIf="email.invalid && email.dirty && email.value.length !== 0">
                Mail incorrecto
            </div>
            <div class="alert alert-danger"
                *ngIf="email.dirty && email.value.length === 0">
                Mail requerido
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control"
                type="password"
                #password="ngModel"
                name="password"
                [(ngModel)]="model.password"
                placeholder="Password"
                required
                minlength="3">
            <div class="alert alert-danger"
                *ngIf="password.invalid && password?.dirty && password.value.length !== 0">
                Minimo 3 caracteres
            </div>
            <div class="alert alert-danger"
                *ngIf="password.dirty && password.value.length === 0">
                Password requerido
            </div>
        </div>

        <button class="btn btn-secondary"
            [disabled]="registerForm.invalid"
            type="submit">Submit</button>

        <button class="btn btn-secondary"
            type="button"
            (click)="goLogin()">
            Back To login</button>
        <div class="alert alert-danger"
            *ngIf="error !== null">
            Remote validation: {{ error.message }}
        </div>
    </form>
</div>