.main-content{
    flex: 1 0 auto;
    position: relative;
    display: block;
    background-color: gainsboro;
    padding-top: 20px;
    height: 100%;
    margin-top: 88px;
}

.center-content {
  width:80%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.border {
    border: 1px black solid;
  }

mat-card{
    height: 100%;
}

mat-card-title {
    font-size: 20px !important;
  }

  mat-card-header {
    height: 30px;
  }

mat-card-content{
  height:90%;
}
mat-card-actions {
  height: auto;
  border: 1px black solid;
}
.edit-form-layer {
  height:80%;
}
.drop-out-layer {
  padding-top: 5px;
  display: flex;
}
.editable-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
  height: 80px;
}

.settings-subsection-title h1{
  margin-left: 10px;
  font-size: 14px;

}

