<div class="main-content">
    <div class="center-content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Settings</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="edit-form-layer">
                    <div class="settings-subsection-title"><h1>User Info</h1>
                    </div>
                    <div class="editable-form">
                        <!-- - - - - - - - - - - - - - - -  -->
                        <!-- TODO: make me a component please! -->
                        <!-- - - - - - - - - - - - - - - -  -->
                        <div>
                         <!--   <pre>{{ userModel | json}}</pre> -->
                            <form (ngSubmit)="onSubmit()"
                                #editableForm="ngForm">
                                <div>
                                    <mat-form-field>
                                        <input matInput
                                            type="text"
                                            #name="ngModel"
                                            name="name"
                                            [(ngModel)]="userModel.name"
                                            (ngModelChange)="modelOnChange()"
                                            placeholder="Name"
                                            required>
                                        <mat-icon matSuffix>mode_edit</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput
                                            type="email"
                                            #email="ngModel"
                                            name="email"
                                            [(ngModel)]="userModel.email"
                                            (ngModelChange)="modelOnChange()"
                                            placeholder="Email"
                                            required
                                            pattern="[^ @]*@[^ @]*"
                                            minlength="3">
                                        <mat-icon matSuffix>mode_edit</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput
                                            [type]="hide ? 'password' : 'text'"
                                            #name="ngModel"
                                            name="password"
                                            [(ngModel)]="userModel.password"
                                            (ngModelChange)="modelOnChange()"
                                            placeholder="Password"
                                            required
                                            minlength="3">
                                        <mat-icon matSuffix
                                            (click)="hide = !hide">
                                            {{hide ? 'visibility' : 'visibility_off'}}
                                        </mat-icon>
                                    </mat-form-field>
                                    <div [hidden]="!editing">
                                        <button mat-raised-button color=primary
                                            type="submit">Save</button>
                                        <button mat-button color=primary
                                            type="button"
                                            (click)="cancelEdition()">Cancel</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <!-- end of editable-form-->

                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="drop-out-layer">
                    <div class="settings-subsection-title">
                        <h1>I don't want use more TryUrApp</h1></div>
                    <span class="example-fill-remaining-space"></span>
                    <button mat-fab (click)=openDialog()>Bye!</button>
                </div>

            </mat-card-content>
        </mat-card>

    </div>

</div>